*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 100%;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

.wrapper {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background-image: linear-gradient(#af67e9, #6565e7);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .content {
  margin: 5rem 2rem;
  background-color: #fff;
  max-width: 56em;
  border-radius: 20px;
  position: relative;
  margin-top: 5rem;
}

.wrapper .content .image {
  background-image: url("../images/bg-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-size: 15rem;
  background-position: center top;
}

.wrapper .content .image img {
  height: auto;
  width: 100%;
  max-width: 15rem;
  min-width: 5rem;
  margin: auto;
  display: block;
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
}

.wrapper .content .box {
  display: none;
}

.wrapper .content .faq {
  width: 90%;
  margin: 0 auto;
}

.wrapper .content .faq h1 {
  text-align: center;
  margin-top: -3rem;
  margin-bottom: 2rem;
  color: #1d1e35;
}

.wrapper .content .faq .accordion:last-child {
  margin-bottom: 3rem;
}

.wrapper .content .faq .accordion__item {
  border-bottom: 1px solid #e7e7e9;
  margin-bottom: 2rem;
}

.wrapper .content .faq .accordion__question {
  border: none;
  display: block;
  width: 100%;
  text-align: left;
  background-color: #fff;
  color: #4a4b5e;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 0.8rem;
  font-family: inherit;
  border: 1px dotted transparent;
  position: relative;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .content .faq .accordion__question::after {
  content: "";
  background-image: url("../images/icon-arrow-down.svg");
  background-size: 75%;
  background-repeat: no-repeat;
  position: absolute;
  width: 1rem;
  height: 0.7rem;
  right: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.wrapper .content .faq .accordion__question.active-btn {
  color: #1d1e35;
}

.wrapper .content .faq .accordion__question.active-btn::after {
  -webkit-transform: rotateZ(180deg) translateY(25%);
          transform: rotateZ(180deg) translateY(25%);
}

.wrapper .content .faq .accordion__question:hover:not(.active-btn) {
  color: #f47c57;
  cursor: pointer;
}

.wrapper .content .faq .accordion__question:focus {
  outline: transparent;
}

.wrapper .content .faq .accordion__question:focus-visible {
  outline: transparent;
  border-color: #f47c57;
}

.wrapper .content .faq .accordion__content {
  font-size: 0.8rem;
  line-height: 1.5;
  color: #787887;
  max-height: 0;
  visibility: hidden;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
  overflow: hidden;
}

.wrapper .content .faq .accordion__content.active__content {
  max-height: 300px;
  visibility: visible;
}

.wrapper .content .faq .active-btn {
  font-weight: 700;
  cursor: pointer;
}

@media screen and (min-width: 62em) {
  .wrapper .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3rem 3rem 0 0;
  }
  .wrapper .content .image,
  .wrapper .content .faq {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .wrapper .content .faq {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .wrapper .content .faq h1 {
    margin-top: 0;
  }
  .wrapper .content .faq .accordion__question {
    font-size: 1rem;
  }
  .wrapper .content .box {
    display: block;
    position: absolute;
    left: 0;
    -webkit-transform: translate(-50%, 3rem);
            transform: translate(-50%, 3rem);
  }
  .wrapper .content .image {
    overflow-x: hidden;
    background-image: url("../images/bg-pattern-desktop.svg");
    background-size: 25rem;
    background-position: -4.2rem 2rem;
    padding: 4rem 0;
  }
  .wrapper .content .image img {
    position: relative;
    right: 5rem;
    max-width: 25rem;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
/*# sourceMappingURL=style.css.map */